.UserLogOut {
    text-align: center;
    font-size: 2vmin;
    font-family: 'VT323', monospace;
    color: #FFFFFF;
    text-transform: uppercase;
    }
    
    .UserLogOut .email {
      font-size: 2vmin;
      font-family: 'VT323', monospace;
      color: #FFFFFF;
      text-transform: uppercase;
    }