.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    font-size: 4vmin;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
  }

  .image {
    height: 8vw;
    width: 8vw;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  

  .MenuListItem .name {
    font-size: 1.3vw;
    text-align: center;
    color: var(--text-light);
    margin-right: 1.3vw;
    margin-left: 1.3vw;
  }